body {
	padding-top: 5rem;
}
a{
	text-decoration: none;
}
.banner{
	padding-bottom: 10px;
}
.main{
	margin: 10px;
	padding: 10px;
}
.category{

}
.category .active{
	background: #FFF;
	border-bottom: 1px solid #f15a23;
	opacity: 1;
	margin-bottom: -1px;
}
.category h3{
	border-bottom: 1px solid #e5e5e5;
	margin: 10px;
	opacity: 1;
	font-size: 20px;
}
.sanpham{
	padding-top: 10px;
	margin-top: 5px;
	text-align: center;
	border: solid 2px;
	border-color: #E5E5E5;
}
.sanpham a{
	color: #333333;
}
.sanpham a:hover{
	text-decoration: none;
}
.sanpham .saving{
	background: #f15a23;
	color: white;
	position: relative;
    line-height: normal;
    padding: 0 3px;
    min-width: auto;
    height: auto;
    top: 0;
    left: 0;
    font-size: 11px;
    display: inline-block;
}
.sanpham{

	}
.price{
	border-top: solid 1px;
	border-color: red;
	padding-bottom: 20px;
}
.price .price-new{
	color: #f15a23;
}
.price .price-old{
	color: #999;
	text-decoration: line-through;
}
.price span{
	font-size: 30px;
}
.sanpham .img img{
	height: 100px;
}
.list{
	margin-top: 10px;
	padding-top: 10px;
}
.container .banner img:hover{
    opacity: 0.85;
}
.custom-feature-box{
	padding-top: 20px;
	margin: auto!important;
}
.custom-feature-box .feature-box{
    border: 1px solid gray;
    border-radius: 7px;
    padding: 8px 15px;
    font-size: 12px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.custom-feature-box .title{
    font-size: 16px;
    font-weight: bold;
}
footer {
    width: 100%;
    background-color: #333;
    color: #999;
    padding:15px 20px;
    padding-top: 20px;
}
footer h5{
    color: white;
}
footer ul{
    list-style-type: none;
}
footer a{
    color: #999;
}
footer a:hover{
    color: white;
    text-decoration: none;
}
footer .column{
    margin-bottom: 15px;
}
.sidebar{

}
.sidebar h3{
	margin: 0 0 20px;
    line-height: normal;
    border-bottom: 1px solid #e5e5e5;
    color: #000;
}
.sidebar h3 span{
	border-bottom: 2px solid #f15a23;
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 3px;
    margin-bottom: -1px;
}
.reg h1 {
    color: #000000;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: normal;
    text-rendering: optimizelegibility;
    text-align: left;
    font-family: inherit;
}
.reg p {
    text-align: left;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
}
.acc legend {
    font-size: 18px;
    padding: 7px 0px;
    border-bottom: 1px solid #e5e5e5;
}
legend {
    font-size: 18px;
    padding: 7px 0px;
    border-bottom: 1px solid #e5e5e5;
}
.reg p a {
    color: #f15a23;
}
.reg p a:hover {
    color: blue;
    text-decoration: none;
}
.form .control-label:before {
    content: '* ';
    color: red;
    font-weight: 700;

}
